{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ring.css' %}">
<!-- Edición Encuentro Modal -->
<style type="text/css">
  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }
  .label_obligatorio {
    font-size: 10pt;
    float: left;
  }
  .label_obligatorio:before {
    content:"*";
    color:red;
  }
  .modal-info {
    display: none;
    text-align: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.9);
    font-size: 15pt;
  }
  .modal-info > div{
    margin-top: 50px;
  }
  .modal-status-img{
    width: 200px;
  }
</style>
<div class="modal fade" id="encuentro_modal" tabindex="-1" role="dialog" aria-labelledby="encuentro_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-info">
        <div class="modal-info-cargando">
          <div class="uil-ring-css modal-status-img" style="margin: 0 auto"><div></div></div>
          <p>Cargando</p>
        </div>
        <div class="modal-info-exito">
          <img class="modal-status-img" src="{% static 'img/mark.svg' %}">
          <p>La operación se ha realizado con éxito</p>
        </div>
        <div class="modal-info-error">
          <img class="modal-status-img" src="{% static 'img/error.svg' %}">
          <p>¡Hubo un problema al intentar realizar la acción! Recargue la página y vuelva a intentarlo</p>
          <button class="btn btn-default" data-dismiss="modal">Regresar</button>
        </div>
      </div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="encuentro_modal_label">Título Edición de Encuentro</h4>
      </div>
      <div class="modal-body">
        <div class="modal-cargando-div">
          <div class='uil-ring-css' style="margin: 0 auto"><div></div></div>
        </div>
        <form>
          <div class="form-group required">
            <label for="encuentro_modal_nombre" class="control-label">Nombre del Encuentro</label>
            <input id="encuentro_modal_nombre" type="text" class="form-control" placeholder="Ejemplo: Encuentro Internacional 2016 Costa Rica" required="required">
          </div>
          <div class="row">
            <div class='col-md-6'>
              <div class="form-group required">
                <label for="encuentro_modal_fecha_inicio" class="control-label">Fecha de inicio</label>
                  <div class='input-group date'>
                    <input id='encuentro_modal_fecha_inicio' type='text' class="form-control" placeholder="Ejemplo: 23/02/2017" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
              </div>
            </div>
            <div class='col-md-6'>
              <div class="form-group required">
                <label for="encuentro_modal_fecha_fin" class="control-label">Fecha de término</label>
                  <div class='input-group date'>
                    <input id='encuentro_modal_fecha_fin' type='text' class="form-control" placeholder="Ejemplo: 24/02/2017" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class='col-md-6'>
              <div class="form-group">
                <label for="encuentro_modal_pais" class="control-label">País</label>
                <input id="encuentro_modal_pais" type="text" class="form-control" placeholder="Ejemplo: México">
              </div>
            </div>
            <div class='col-md-6'>
              <div class="form-group">
                <label for="encuentro_modal_ciudad" class="control-label">Ciudad</label>
                <input id="encuentro_modal_ciudad" type="text" class="form-control" placeholder="Ejemplo: Monterrey">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="encuentro_modal_sedes" class="control-label">Sede(s) del encuentro</label>
            <select id="encuentro_modal_sedes" class="form-control" multiple placeholder="Ejemplo: Expo Guadalajara, Centro de Negocios I">
            </select>
          </div>
          <div class="form-group">
            <label for="encuentro_modal_responsables" class="control-label">Responsable(s) de programa</label>
            <select id="encuentro_modal_responsables" class="form-control" multiple placeholder="Nombre del responsable">
            </select>
            <small>¿No encuentra un responsable? <a class="registra-responsable-modal" href="#">Regístrelo</a></small><br>
            <small>¿El responsable no tiene la institución o el cargo que necesita? <a class="edita-responsable-modal" href="#">Edítelo</a></small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span class="label_obligatorio">Campos obligatorios</span>
        <button id="encuentro_modal_submit" type="button" class="btn btn-primary" ></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function(){

var resp_selectize = null;
var sedes_selectize = null;

// Limpia el modal del encuentro
function reset_modal(){
  var $modal = $("#encuentro_modal");
  var $modal_body = $modal.find(".modal-body");
  //Oculta el estatus del modal
  $modal.find(".modal-info").css('display', 'none');
  // Se hace el reset del nombre del encuentro
  $modal.find('#encuentro_modal_nombre').val("");
  // Se hace el reset de las fechas del encuentro
  var $cal_inicio = $modal.find('#encuentro_modal_fecha_inicio').closest(".date");
  var $cal_fin = $modal.find('#encuentro_modal_fecha_fin').closest(".date");
  $cal_inicio.data("DateTimePicker").date(null);
  $cal_fin.data("DateTimePicker").date(null);
  // Se hace el reset de los responsables del encuentro
  selectize_init();
  resp_selectize.clearOptions();
  sedes_selectize.clearOptions();
  // Se oculta el form
  $modal_body.find("form").hide();
  // Se desbloqué el botón submit
  var $boton_submit = $modal.find('#encuentro_modal_submit');
  $boton_submit.attr('disabled', 'disabled');
  // Se muestra la imágen de carga
  $modal_body.find(".modal-cargando-div").show();
};

function selectize_init() {
  if (resp_selectize === null) {
    var $selector = $modal.find('#encuentro_modal_responsables').selectize({
      plugins: ['remove_button'],
      openOnFocus: false,
    });
    resp_selectize = $selector[0].selectize;
  }
  // Se hace el reset de las sedes del encuentro
  if (sedes_selectize === null) {
    var $selector = $modal.find('#encuentro_modal_sedes').selectize({
      plugins: ['remove_button'],
      create: true,
      openOnFocus: false,
    });
    sedes_selectize = $selector[0].selectize;
  }
}

function rellena_responsables(selectize, responsables, id_seleccionados) {
  id_seleccionados = typeof id_seleccionados !== 'undefined' ? id_seleccionados : [];
  $(responsables).each(function (idx, responsable) {
    var selected = false;
    $(id_seleccionados).each(function (i, resp_id) {
      if (responsable.id == resp_id) {
        selected = true;
      }
    })
    selectize.addOption({
      text: responsable.nombres,
      value: responsable.id,
      selected: selected,
    });
    if (selected) {
      selectize.setValue(selectize.getValue().concat([responsable.id]), true)
    }
  });
}

// Se ejecuta cuando se muestra el modal
$('#encuentro_modal').on('show.bs.modal', function (event) {
  var $button = $(event.relatedTarget) // Botón que mostró el  modal
  var operacion = $button.data('operacion');
  selectize_init();
  if (typeof operacion === 'undefined') {
    rellena_responsables(selectize, responsables, id_seleccionados)
    resp_selectize.refreshOptions(false);
    return;
  }
  reset_modal();
  var id = $button.data('id-actividad');
  var $modal = $(this);
  var $form = $modal.find(".modal-content form");
  // Se obtiene la lista de los posibles responsables que están registrados
  var prom_resp = $.get('/responsables/');
  //Se buscan los elementos a modificar
  var $boton_submit = $modal.find('#encuentro_modal_submit');
  var $selector = $modal.find('#encuentro_modal_responsables');
  // Se le asignan datos al botón submit para cuando se realice la creación
  // o edicion del encuentro
  $boton_submit.data('operacion', operacion);
  $boton_submit.data('id-actividad', id);
  // Se checa la operación que se va a querer realizar para preparar
  // al modal con las etiquetas e información correspondiente
  switch (operacion) {
    case 'creacion':
      // Se ejecuta cuando se obtiene la lista de responsables
      prom_resp.done(function(responsables) {
        // Se el selector con los responsables
        rellena_responsables(resp_selectize, responsables);
        resp_selectize.refreshOptions(false);
        // Se muestra una animación de carga en lo que se cargan los responsables
        $('#encuentro_modal').find(".modal-cargando-div").fadeOut(800, function () {
          $form.fadeIn(400);
        });
      });
      // Se modifica el título del modal
      $modal.find('.modal-title').text('Crear un Encuentro');
      // Se modifica el texto del botón submit
      $boton_submit.text('Crear Encuentro');
      break;
    case 'edicion':
      // Se modifica el título del modal
      $modal.find('.modal-title').text('Modificar Encuentro');
      // Se modifica el texto del botón submit
      $boton_submit.text('Guardar modificaciones');
      // Se pide la información del encuentro a modificar
      var prom_enc = $.get('/encuentros/'+ id +'/');
      // Se ejecuta cuando se termina de pedir la lista de responsables
      // y la información del encuentro
      $.when(prom_enc, prom_resp).done(function(res_enc, res_resp) {
        // res___ =  [ data, statusText, jqXHR ]
        var encuentro = res_enc[0];
        var responsables = res_resp[0];
        $(encuentro.sedes).each(function (idx, nombre_sede) {
          sedes_selectize.addOption({
            text: _.capitalize(nombre_sede),
            value: nombre_sede,
            selected: true,
          })
        });
        sedes_selectize.setValue(encuentro.sedes, false);
        sedes_selectize.refreshOptions();
        // Rellena el campo del nombre del encuentro
        $modal.find('#encuentro_modal_nombre').val(encuentro.nombre);
        // Rellena el campo del país del encuentro
        $modal.find('#encuentro_modal_pais').val(encuentro.pais);
        // Rellena el campo de la ciudad del encuentro
        $modal.find('#encuentro_modal_ciudad').val(encuentro.ciudad);
        // Llena la lista de responsables marcando los que son
        // responsables del encuentro
        rellena_responsables(resp_selectize, responsables, encuentro.responsables);
        // Se muestra una animación de carga en lo que se carga el encuentro
        $('#encuentro_modal').find(".modal-cargando-div").fadeOut(800, function () {
          $form.fadeIn(400);
        });
        // Se obtienen las fechas del encuentro, si es que las tiene
        var fecha_fin = moment(encuentro.fecha_fin);
        var fecha_inicio = moment(encuentro.fecha_inicio);
        var cal_inicio = $modal.find('#encuentro_modal_fecha_inicio').closest(".date");
        var cal_fin = $modal.find('#encuentro_modal_fecha_fin').closest(".date");
        var fecha_inicio = moment(fecha_inicio);
        // Si la fecha de inicio es válida se llena el campo correspondiente
        if (fecha_inicio.isValid()) {
          cal_inicio.data("DateTimePicker").date(fecha_inicio);
        }
        // Si la fecha de fin es válida se llena el campo correspondiente
        var fecha_fin = moment(fecha_fin);
        if (fecha_fin.isValid()) {
          cal_fin.data("DateTimePicker").date(fecha_fin);
        }
      });
      break;
    default: //Evita que se abra el modal
      return event.preventDefault();
  }
});

function verifica_inputs() {
  $modal = $("#encuentro_modal");
  $modal_body = $modal.find(".modal-body");
  $boton_submit = $modal.find("#encuentro_modal_submit");
  var son_validos = true;
  // Verifica nombre del encuentro
  if ($("#encuentro_modal_nombre").val().trim() === "") { son_validos = false;}
  // Verifica la fecha de inicio
  var fecha_inicio = moment($('#encuentro_modal_fecha_inicio').val(), "DD/MM/YYYY");
  if (!fecha_inicio.isValid()) {son_validos = false};
  // Verifica la fecha de fin
  var fecha_fin = moment($('#encuentro_modal_fecha_fin').val(), "DD/MM/YYYY");
  if (!fecha_fin.isValid()) {son_validos = false};
  // Bloquea el botón submit si faltan datos
  if (son_validos) {
    $boton_submit.removeAttr('disabled', 'disabled');
  }else {
    $boton_submit.attr('disabled', 'disabled');
  }
};

$('#encuentro_modal_nombre').on('input', function (event) {
  verifica_inputs();
});

$('#encuentro_modal .edita-responsable-modal').on('click', function (event) {
  $modal = $("#persona_modal");
  $modal_body = $modal.find(".modal-body");
  $boton_submit = $modal.find("#persona_modal_submit");
  $boton_submit.text("Guardar cambios");
  $("#encuentro_modal").modal('hide');
  $("#persona_modal").data('modal-anterior', 'encuentro_modal');
  $("#persona_modal").find('.modal-title').text("Editar Responsable");
  $("#persona_modal").modal('show');
});

$('#encuentro_modal .registra-responsable-modal').on('click', function (event) {
  $modal = $("#persona_modal");
  $modal_body = $modal.find(".modal-body");
  $boton_submit = $modal.find("#persona_modal_submit");
  $boton_submit.text("Registrar cambios");
  $("#encuentro_modal").modal('hide');
  $("#persona_modal").data('modal-anterior', 'encuentro_modal');
  $("#persona_modal").find('.modal-title').text("Registrar Responsable");
  $("#persona_modal").modal('show');
});

$('#encuentro_modal_submit').on('click', function (event) {
  var $modal = $("#encuentro_modal");
  $modal.find(".modal-info>div").hide();
  $modal.find(".modal-info").css('display', 'block');
  $modal.find(".modal-info .modal-info-cargando").show();
  // Boton submit que contiene información para crear/editar el encuentro
  var $boton_submit = $(this);
  // Se bloquea el botón en lo que se procesa la creación/edición
  $boton_submit.attr('disabled', 'disabled');
  // Datos a ser enviados al servidor
  var data = {
    'nombre': $('#encuentro_modal_nombre').val().trim(),
    'fecha_inicio': moment($('#encuentro_modal_fecha_inicio').val(), "DD/MM/YYYY").format("YYYY-MM-DD"),
    'fecha_fin': moment($('#encuentro_modal_fecha_fin').val(), "DD/MM/YYYY").format("YYYY-MM-DD"),
    'responsables': $("#encuentro_modal_responsables").val(),
    'sedes': $("#encuentro_modal_sedes").val(),
    'pais': $("#encuentro_modal_pais").val(),
    'ciudad': $("#encuentro_modal_ciudad").val(),
  };
  if(data.responsables === null){data.responsables=[]}
  if(data.sedes === null){data.sedes=[]}
  var operacion = $boton_submit.data('operacion');
  switch (operacion) {
    case 'creacion':
      var promesa = $.ajax({
        url: '/encuentros/',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
      });
      promesa
      .fail(function(data) {
        // Se crea un mensaje para avisar que hubo un problema en la creación
        var $modal = $("#encuentro_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-error").show();
      })
      .done(function(data){
        // Se lanza un evento indicando que se creó un actividad con éxito
        $(document).trigger( "actividadCreada", data);
        // Se crea un mensaje para avisar que se creó el encuentro
        var $modal = $("#encuentro_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-exito").show();
        setTimeout(function(){$("#encuentro_modal").modal('hide')}, 3000);
      })
      .always(function(data) {
        console.log(data);
      });
      break;
    case 'edicion':
      // Se obtiene el id del encuentro a mofificar
      var id = $boton_submit.data('id-actividad');
      var promesa = $.ajax({
        url: '/encuentros/' + id + '/',
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(data),
      });
      promesa
      .fail(function(data) {
        // Se crea un mensaje para avisar que hubo un problema en la edición
        var $modal = $("#encuentro_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-error").show();
        console.log(data);
      })
      .done(function(data){
        // Se lanza un evento indicando que se editó un actividad con éxito
        $(document).trigger( "actividadModificada", data);
        var $modal = $("#encuentro_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-exito").show();
        setTimeout(function(){$("#encuentro_modal").modal('hide')}, 3000);
      })
      .always(function(data) {
        console.log(data);
      });
      break;
    default:
      return;
  }
});

// Se buscan los selectores de fechas en el DOM del modal
var cal_inicio = $('#encuentro_modal_fecha_inicio').closest(".date");
var cal_fin = $('#encuentro_modal_fecha_fin').closest(".date");
// Inicializa el calendario de la fecha de inicio
$(cal_inicio).datetimepicker({
  format: 'DD/MM/YYYY',
  locale: 'es',
});
// Inicializa el calendario de la fecha de fin
$(cal_fin).datetimepicker({
  format: 'DD/MM/YYYY',
  locale: 'es',
  useCurrent: false, //Important! See issue #1075
});
$(cal_inicio).on("dp.change", function (e) {
  // Se asegura que la fecha de inicio no se mayor a la fecha de fin
  $(cal_fin).data("DateTimePicker").minDate(e.date);
  // Verifica si los input son válidos para el encuentro
  verifica_inputs();
});
$(cal_fin).on("dp.change", function (e) {
  // Se asegura que la fecha de fin no se menor a la fecha de inicio
  $(cal_inicio).data("DateTimePicker").maxDate(e.date);
  // Verifica si los input son válidos para el encuentro
  verifica_inputs();
});
});
</script>