{% extends "programaAcademico/base.html" %}
{% load static from staticfiles %}

{% block header %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<link href="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel='stylesheet' />
<link href="{% static 'js/jstree-3.3.0/themes/default/style.min.css' %}" rel='stylesheet'/>
<link href="{% static 'js/fullcalendar-2.6.0/fullcalendar.css' %}" rel='stylesheet'/>
<link href="{% static 'js/fullcalendar-2.6.0/fullcalendar.print.css' %}" rel='stylesheet' media='print'/>
<script src="{% static 'js/fullcalendar-2.6.0/lib/jquery-ui.custom.min.js' %}"></script>
<script src="{% static 'js/fullcalendar-2.6.0/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/fullcalendar-2.6.0/lang/es.js' %}"></script>
<script src="{% static 'js/jstree-3.3.0/jstree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mbraak-jqTree-ce47a98/tree.jquery.js' %}"></script>
<link href="{% static 'js/mbraak-jqTree-ce47a98/jqtree.css' %}" rel='stylesheet' />

<style>
  #wrap {
    width: 1100px;
    margin: 0 auto;
  }

  #external-events {
    float: left;
    width: 250px;
    padding: 0;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  .calendar {
    float: right;
    width: 800px;
  }

  ul {
    padding-left: 1em;
  }

  #info-actividad {
    float: left;
    width: 250px;
  }

  .actividad {
    cursor: pointer;
  }

  #lista-eventos a{
    white-space: normal;
    height: auto;
  }

  #lista-eventos {
    padding: 0;
    max-width: 100%;
  }

  #arbol-actividades li{
    background-color: rgba(0,0,0,0.01);
    padding: 0;
    padding-right: 0;
    border-right: 0;
    margin: 0;
  }
  #arbol-actividades {
    border-right: solid 1px #ddd;
  }
  #arbol-actividades ul div.dropdown {
    display: inline-block;
    float: right;
    margin: 2px;
    margin-top: 5px;
  }
  #arbol-actividades ul a.btn {
    float: right;
    margin: 2px;
  }

</style>
{% endblock %}

{% block breadcrums %}
<li><a href="/inicio">Encuentros</a></li>
<li class="active"><a href="./">Logística</a></li>
<li></li>
{% endblock breadcrums %}

{% block content %}
{{ block.super }}
{% include "actividades/modals/encuentro.html" %}
{% include "actividades/modals/panel.html" %}
<div id="popoverHiddenContent" style="display:none">
  <span style="font-weight: bold">Hora Inicio: </span>
  <span class="popover-hora-inicio-campo"></span><br>
  <span style="font-weight: bold">Hora Fin: </span>
  <span class="popover-hora-fin-campo"></span><br>
  <span style="font-weight: bold">Espacio: </span>
  <span class="popover-espacio-campo"></span><br>
  <button class="btn btn-default editar-btn" data-toggle="modal">Editar</button>
</div>
<div id='wrap'>
  <div id='external-events'>
    <div id="arbol-actividades"></div>
  </div>
  <div id='calendar' class="calendar"></div>
  <div style='clear:both'></div>

    <!--<div id='calendar-min' class="calendar"></div>
    <div style='clear:both'></div>-->
  </div>

  <script>
    var colores_calendario = ["#59ABE3", "#2C3E50", "#26A65B",
    "#F2784B", "#F39C12", "#913D88", "#96281B", "#3498db",
    "#AEA8D3", "#5C97BF",]
    function is_null_or_undefined(objeto) {
      return (typeof objeto === 'undefined' || objeto === null)
    }
    var mapa_actividades = new Map();

    $(document).ready(function() {
      var evento_src = [];

      /* initialize the calendar
    -----------------------------------------------------------------*/
    $('#calendar').on('blur', '.popover', function () {
      $('.popover').popover('hide');
    })
    $('#calendar').fullCalendar({
      lang: 'es',
      slotDuration: '00:15:00',
      snapDuration: '00:01:00',
      allDaySlot: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      allDayDefault: false,
      editable: true,
      droppable: true,
      eventClick: function (event, jsEvent, view) {
        var evento_anchor = jsEvent.currentTarget;
        $('.tiene_popover').not(evento_anchor).popover('hide');
        $(evento_anchor).popover('toggle');
      },
      eventDrop: function(event) {
        updateEvent(event);
      },
      eventReceive: function (event) {
        $('#calendar').fullCalendar('removeEvents', function (evento) {
          return (event.id === evento.id && event !== evento);
        });
        updateEvent(event);
      },
      eventResize: function (event) {
        updateEvent(event);
      },
      eventRender: function (event, element) {
        $(element).attr("role", "button");
        $(element)
        .popover({
          title: event.objeto.nombre,
          content: function () {
            var cont_html = $('#popoverHiddenContent').clone();
            var boton = $(cont_html).find("button");
            boton.attr("data-target","#panel_modal");
            boton.attr("data-operacion","edicion");
            boton.attr("data-id-actividad", event.objeto.id);
            boton.attr("data-tipo-actividad","panel");
            return cont_html.html();
          },
          html: true,
          placement: 'left',
          trigger: 'manual',
          container: '#calendar',
        })
        .on('show.bs.popover', function(e) {
            //$(this).popover('hide');
          /*console.log(e);
            var actividad_a = e.currentTarget;
            console.log(actividad_a);
            var popover = $(this).data('bs.popover');
            var cont_html = $('#popoverHiddenContent').clone();
            var boton = $(cont_html).find("button");
            boton.attr("data-target","#panel_modal");
            boton.attr("data-operacion","edicion");
            boton.attr("data-id-actividad", 1);
            boton.attr("data-tipo-actividad","panel");
            popover.options.content = cont_html.html();*/
          });
        $(element).attr('tabindex', -1);
      }
    });

      $('#arbol-actividades').tree({
        autoOpen: true,
        dataUrl:  function(node) {
          var data = {};
          var url = '';
          if(node){
            var tipo = node.tipo;
            var id = node.id;
            url = '/hijos/'+tipo+"/"+id+"/";
          }else{
            url = '/encuentros/'+{{encuentro_id}}+'/';
          }
          return {url: url, data: data};
        },
        dataFilter: function(data) {
          if (data['nombre']) {
            var nodo = data;
            nodo['label'] = nodo['nombre'] + " ";
            nodo['load_on_demand'] = true;
            return [nodo];
          }
          var nodos = [];
          $(data).each(function (index, obj) {
            var nombre_categoria = Object.keys(obj)[0];
            var nodo_categoria = {
              label: _.capitalize(nombre_categoria),
              children: []};
              $(obj[nombre_categoria]).each(function(index, nodo){
                //console.log('nodo', nodo);
                nodo['label'] = nodo['nombre'] + " ";
                nodo['load_on_demand'] = true;
                nodo_categoria['children'].push(nodo);
                //console.log('nodo', nodo);
              });
              //console.log(nodo_categoria['children'])
              nodos.push(nodo_categoria);
            });
          return nodos;
        },
        selectable: false,
        //closedIcon: '+',
        //openedIcon: '-',
        //autoOpen: true,
        onCreateLi: function (node, $li) {
          $li.addClass("list-group-item");
          $li.closest("ul").addClass("list-group");
          if (node.tipo) {
            switch(node.tipo) {
              case "panel":
                $li.addClass('draggable fc-event ui-draggable ui-draggable-handle');
                var evento = {
                  id: node.tipo + '-' +node.id,
                    title: node.nombre, // use the element's text as the event title
                    backgroundColor: colores_calendario[0],
                    className: ['tiene_popover'],
                    objeto: node,

                };
                if (evento.objeto.fecha_inicio) {
                  evento.start = evento.objeto.fecha_inicio;
                  if (evento.objeto.fecha_fin) {
                    evento.end = evento.objeto.fecha_fin;
                  }
                  console.log('evento', evento);
                  var en_lista = false;
                  for(var i = 0; i < evento_src.length; i++ ){
                    if (evento_src[i].id === evento.id) {
                      evento_src[i] = evento;
                      en_lista = true;
                      break;
                    }
                  }
                  if (!en_lista) {evento_src.push(evento)};
                  console.log(evento_src);
                  $('#calendar').fullCalendar( 'addEventSource', evento_src);
                  $('#calendar').fullCalendar( 'refetchEvents' )
                }
                $li.data('event', evento);
                // make the event draggable using jQuery UI
                $li.draggable({
                  zIndex: 999,
                  revert: true,      // will cause the event to go back to its
                  revertDuration: 0  //  original position after the drag
                });
                //botones = set_botones_encuentro(node, $li);
                break;
              };
            };
          }
        });

      $('#external-events').on('click', '.actividad', function() {
        var actividad = mapa_actividades.get($(this).data('map_id'));
        var text = "";
        text +=  actividad['fields']['nombre'] + " ";
        if(! is_null_or_undefined(actividad['fields']['start'])){
          text += "Inicia " + actividad['fields']['start'].format('llll') + " ";
        }
        $("#info-actividad span").text(text);
      });

      function updateEvent(event) {
        //console.log(event,moment(event['start']).isValid() , event['start'].format());
        var actividad = event.objeto;
        var tipo = actividad.tipo;
        var id = actividad.id;
        var start = event['start'].format();
        var end = moment(event['end']).isValid() ? event['end'].format() : "null";
        $.post("/actualizar_actividad/" + tipo +"/"+ id +"/",{
          fecha_inicio: start,
          fecha_fin: end,
        });
      }

    $.get('/encuentros/'+{{encuentro_id}}+'/')
    .success(function (encuentro) {
      $('#calendar').fullCalendar('gotoDate', moment(encuentro.fecha_inicio));
      $('#calendar').fullCalendar('eventConstraint ', {
    start: '10:00', // a start time (10am in this example)
    end: '18:00', // an end time (6pm in this example)

    dow: [ 1, 2, 3, 4 ]
    // days of week. an array of zero-based day of week integers (0=Sunday)
    // (Monday-Thursday in this example)
}
      );
    })

});

$("#calendar").on('click', '.editar-btn', function () {
  $('.tiene_popover').popover('hide');
})

</script>
{% endblock %}