{% extends "programaAcademico/base.html" %}
{% load static from staticfiles %}
{% block header %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<link href="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel='stylesheet' />
 <style type="text/css">
    #arbol-actividades li{
      background-color: rgba(0,0,0,0.01);
      padding: 0;
      padding-right: 0;
      border-right: 0;
      margin: 0;
    }
    #arbol-actividades {
      border-right: solid 1px #ddd;
    }
    #arbol-actividades ul div.dropdown {
      display: inline-block;
      float: right;
      margin: 2px;
      margin-top: 5px;
    }
    #arbol-actividades ul a.btn {
      float: right;
      margin: 2px;
    }
    .btns-actividades {
      display: inline-block;
      float: right;
    }
    .btns-actividades img{
      width: 25px;
      margin: 2px;
    }
 </style>
{% endblock header %}

{% block breadcrums %}
  <li><a href="/inicio">Encuentros</a></li>
  <li class="active"><a href="./">Programa académico</a></li>
  <li></li>
{% endblock breadcrums %}

{% block content %}
{{ block.super }}
{% include "actividades/modals/encuentro.html" %}
{% include "actividades/modals/panel.html" %}
{% include "actividades/modals/seminario.html" %}
{% include "actividades/modals/foro.html" %}
<!-- Modal -->
<!-- Termina Modal -->
<div id="arbol-actividades"></div>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
<script type="text/javascript">
$(function() {
    $('#arbol-actividades').tree({
        autoOpen: 1,
        saveState: true,
        dataUrl:  function(node) {
            var data = {};
            var url = '';
            if(node){
                var tipo = node.tipo;
                var id = node.id;
                url = '/hijos/'+tipo+"/"+id+"/";
            }else{
              url = '/encuentros/'+{{encuentro_id}}+'/';
            }
            return {url: url, data: data};
       },
        dataFilter: function(data) {
            console.log(data);
            if (data['nombre']) {
              var nodo = data;
              nodo['label'] = nodo['nombre'] + " ";
              nodo['load_on_demand'] = true;
              return [nodo];
            }
            var nodos = [];
            $(data).each(function (index, obj) {
              var nombre_categoria = Object.keys(obj)[0];
              var nodo_categoria = {
                tipo: nombre_categoria,
                label: _.capitalize(nombre_categoria) + " (" + obj[nombre_categoria].length + ")",
                children: []};
              $(obj[nombre_categoria]).each(function(index, nodo){
                //console.log('nodo', nodo);
                nodo['label'] = nodo['nombre'] + " ";
                nodo['load_on_demand'] = true;
                nodo_categoria['children'].push(nodo);
                //console.log('nodo', nodo);
              });
              //console.log(nodo_categoria['children'])
              nodos.push(nodo_categoria);
            });
            return nodos;
        },
        selectable: false,
        //closedIcon: '+',
        //openedIcon: '-',
        //autoOpen: true,
        onCreateLi: function (node, $li) {
            $li.addClass("list-group-item");
            $li.closest("ul").addClass("list-group");
            if (node.tipo) {
              var botones = null;
              switch(node.tipo) {
                case "encuentro":
                  botones = set_botones_encuentro(node, $li);
                  break;
                case "foro":
                  botones = set_botones_foro(node, $li);
                  break;
                case "foros":
                  botones = set_botones_foros(node, $li);
                  break;
                case "seminario":
                  botones = set_botones_seminario(node, $li);
                  break;
                case "seminarios":
                  botones = set_botones_seminarios(node, $li);
                  break;
                case "panel":
                  botones = set_botones_panel(node, $li);
                  break;
                case "paneles":
                  botones = set_botones_paneles(node, $li);
                  break;
                default:
                  return;
              };
              if (botones != null) {
                $li.find(".jqtree-element").prepend(botones);
                $li.find(".jqtree-element").append($("<div style=clear:both></div>"));
              }
            };
        }
    });
  $("#arbol-actividades").on('click', ".btn-agregar",function(event){
    var $arbol = $('#arbol-actividades');
    var tipo = $(this).data("padre-tipo");
    console.log(tipo);
    //Obtenemos el tipo de objeto asociado al botón
    switch(tipo){
      case 'encuentro':
        $('#modalForo').modal('show');
        break;
      case 'foro':
        $('#modalSeminario').modal('show');
        break;
      case 'seminario':
        $('#modalPanel').modal('show');
        break;

    }
    //Mostramos algún modal asociado a algún hijo del tipo
  });
  $(document).on('actividadCreada', function(){
      $("#arbol-actividades").tree('reload');
  });
});

function set_botones_encuentro(node, $li) {
  var permisos = node.permisos_edicion;
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  if (($.inArray('editar como responsable', permisos) > -1) ||
      ($.inArray('editar como super responsable', permisos) > -1)) {
    var $titulo = $li.find(".jqtree-title");
    var $a_titulo = $("<a>");
    $a_titulo.append($titulo.html());
    $a_titulo.attr('data-toggle', "modal");
    $a_titulo.attr('data-operacion', "edicion");
    $a_titulo.attr("data-id-actividad", node.id);
    $a_titulo.attr('data-target', "#encuentro_modal");
    $titulo.html("");
    $titulo.append($a_titulo);
  }
  return btns_actividades;
};

function set_botones_foros(node, $li) {
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  var permisos = node.parent.permisos_edicion;
  if ($.inArray('agregar hijos', permisos) > -1) {
    $(btns_actividades).append($("<div style=clear:right></div>"));
    var boton_agregar = $("<a>",
      {text:"Agregar un Foro",
      class:"btn btn-default btn-sm btn-agregar",
      href: "#"
    });
    $(boton_agregar).attr("data-toggle", "modal")
    $(boton_agregar).attr("data-target", "#foro_modal")
    $(boton_agregar).attr("data-operacion", "creacion")
    $(boton_agregar).attr("data-id-actividad", node.parent.id),
    $(boton_agregar).attr("data-tipo-padre", node.parent.tipo),
    $(btns_actividades).append(boton_agregar);
  }
  return btns_actividades;
};

function set_botones_seminarios(node, $li) {
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  var permisos = node.parent.permisos_edicion;
  if ($.inArray('agregar hijos', permisos) > -1) {
    $(btns_actividades).append($("<div style=clear:right></div>"));
    var boton_agregar = $("<a>",
      {text:"Agregar un Seminario",
      class:"btn btn-default btn-sm btn-agregar",
      href: "#"
    });
    $(boton_agregar).attr("data-toggle", "modal")
    $(boton_agregar).attr("data-target", "#seminario_modal")
    $(boton_agregar).attr("data-operacion", "creacion")
    $(boton_agregar).attr("data-id-actividad", node.parent.id),
    $(boton_agregar).attr("data-tipo-padre", node.parent.tipo),
    $(btns_actividades).append(boton_agregar);
  }
  return btns_actividades;
};

function set_botones_paneles(node, $li) {
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  var permisos = node.parent.permisos_edicion;
  if ($.inArray('agregar hijos', permisos) > -1) {
    $(btns_actividades).append($("<div style=clear:right></div>"));
    var boton_agregar = $("<a>",
      {text:"Agregar un Panel",
      class:"btn btn-default btn-sm btn-agregar",
      href: "#"
    });
    $(boton_agregar).attr("data-toggle", "modal")
    $(boton_agregar).attr("data-target", "#panel_modal")
    $(boton_agregar).attr("data-operacion", "creacion")
    $(boton_agregar).attr("data-id-actividad", node.parent.id),
    $(boton_agregar).attr("data-tipo-padre", node.parent.tipo),
    $(btns_actividades).append(boton_agregar);
  }
  return btns_actividades;
};

function set_botones_foro(node, $li) {
  var permisos = node.permisos_edicion;
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  if ($.inArray('eliminar', permisos) > -1) {
    var boton_eliminar = $("<a>", {href: "#"});
    var $img = $("<img>", {src: "{% static 'img/delete.svg' %}" });
    $(boton_eliminar).append($img);
    $(btns_actividades).append(boton_eliminar);
  }
  if (($.inArray('editar como responsable', permisos) > -1) ||
      ($.inArray('editar como super responsable', permisos) > -1)) {
    var $titulo = $li.find(".jqtree-title");
    var $a_titulo = $("<a>");
    $a_titulo.append($titulo.html());
    $a_titulo.attr('data-toggle', "modal");
    $a_titulo.attr('data-operacion', "edicion");
    $a_titulo.attr("data-id-actividad", node.id);
    $a_titulo.attr('data-target', "#foro_modal");
    $titulo.html("");
    $titulo.append($a_titulo);
  }

  //$(boton_editar).attr("data-toggle", "modal")
  //$(boton_editar).attr("data-target", "#foro_modal")
  //$(boton_editar).attr("data-operacion", "edicion")
  //$(boton_editar).attr("data-id-actividad", node.id);
  return btns_actividades;
}

function set_botones_seminario(node, $li) {
  var permisos = node.permisos_edicion;
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  if ($.inArray('eliminar', permisos) > -1) {
    var boton_eliminar = $("<a>", {href: "#"});
    var $img = $("<img>", {src: "{% static 'img/delete.svg' %}" });
    $(boton_eliminar).append($img);
    $(btns_actividades).append(boton_eliminar);
  }
  if (($.inArray('editar como responsable', permisos) > -1) ||
      ($.inArray('editar como super responsable', permisos) > -1)) {
    var $titulo = $li.find(".jqtree-title");
    var $a_titulo = $("<a>");
    $a_titulo.append($titulo.html());
    $a_titulo.attr('data-toggle', "modal");
    $a_titulo.attr('data-operacion', "edicion");
    $a_titulo.attr("data-id-actividad", node.id);
    $a_titulo.attr('data-target', "#seminario_modal");
    $titulo.html("");
    $titulo.append($a_titulo);
  }

  return btns_actividades;
}

function set_botones_panel(node, $li) {
  var permisos = node.permisos_edicion;
  var btns_actividades = $("<div>", {class: "btns-actividades"});
  if ($.inArray('eliminar', permisos) > -1) {
    var boton_eliminar = $("<a>", {href: "#"});
    var $img = $("<img>", {src: "{% static 'img/delete.svg' %}" });
    $(boton_eliminar).append($img);
    $(btns_actividades).append(boton_eliminar);
  }
  if (($.inArray('editar como responsable', permisos) > -1) ||
      ($.inArray('editar como super responsable', permisos) > -1)) {
    var $titulo = $li.find(".jqtree-title");
    var $a_titulo = $("<a>");
    $a_titulo.append($titulo.html());
    $a_titulo.attr('data-toggle', "modal");
    $a_titulo.attr('data-operacion', "edicion");
    $a_titulo.attr("data-id-actividad", node.id);
    $a_titulo.attr('data-target', "#panel_modal");
    $titulo.html("");
    $titulo.append($a_titulo);
  }
  return btns_actividades;
}

</script>
{% endblock content %}
