{% extends "sesion/base.html" %}

{% block header%}
    <style>
        form {
            display: block;
            background-color: #ddd;
            padding: 20px;
            width: 400px;
            min-height: 100px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Tu usario o contraseña no coincidieron. Intenta otra vez.</p>
{% endif %}

{% if user.is_authenticated %}
    <p>Bienvenido '{{ request.user.username }}'</p>
    <p>Tu cargo es '{{ request.user.last_name }}'</p>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'inicio_sesion' %}">Cerrar Sesión</a></p>
{% else %}
    <form method="post" action="{% url 'inicio_sesion' %}">
    {% csrf_token %}
    <table style="margin: 0 auto;">
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'restaura_contraseña' %}">¿Olvidaste tu contraseña?</a>
{% endif %}

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock %}