{% extends "arbolActividades/base.html" %}

{% block header%}

    <style type="text/css">
        .jstree-children {
            padding: 0;
            margin: 0;
            border: 0;
        }
        .jstree-node:nth-child(odd) {background: rgba(0,0,0,.1);}
        .jstree-node:nth-child(even) {background: rgba(0,0,0,.2);}
        .jstree-node {
            color: white;
            padding: 25px;
            width: auto;
            height: auto;
            font-size: 18pt;
            padding-right: 0;
            padding-left: 0;
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creación de Evento</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <label for="recipient-name" class="control-label">Fecha inicio</label>
                        <input type='text' class="form-control" id='datetimepicker_inicio' />
                        <label for="recipient-name" class="control-label">Fecha fin</label>
                        <input type='text' class="form-control" id='datetimepicker_fin' />
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker_inicio').datetimepicker({format: 'DD/MM/YYYY'});
                            $('#datetimepicker_fin').datetimepicker({
                                format: 'DD/MM/YYYY', useCurrent: false});
                            $("#datetimepicker_inicio").on("dp.change", function (e) {
                                $('#datetimepicker_fin').data("DateTimePicker").minDate(e.date);
                            });
                            $("#datetimepicker_fin").on("dp.change", function (e) {
                                $('#datetimepicker_inicio').data("DateTimePicker").maxDate(e.date);
                            });
                        });
                    </script>
                </div>
            </div>
            <label for="recipient-name" class="control-label">Nombre del Evento</label>
            <input id="nombre_evento_input" type="text" class="form-control" id="recipient-name" placeholder="Encuentro ...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="crea_evento_btn" type="button" class="btn btn-primary" disabled="disabled">Crear Evento</button>
      </div>
    </div>
  </div>
</div>
<!-- Termina Modal -->
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Evento
</button>
<div id="jstree_demo_div"></div>
<div id="tree1"></div>
{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('#nombre_evento_input').on('input propertychange paste', function () {
        var nombre_evento = $.trim($(this).val());
        if(nombre_evento === ""){
            $('#crea_evento_btn').attr("disabled", "disabled");
        }else {
            $('#crea_evento_btn').removeAttr("disabled");
        };
    });
    $('#crea_evento_btn').on('click', function () {
        //$(this).button('complete') // button text will be "finished!"
        var nombre_evento = $.trim($("#nombre_evento_input").val());
        console.log(typeof nombre_evento, nombre_evento);
        if(nombre_evento === ""){
            return;
        }
        $.post( "/crear_evento/", {nombre:nombre_evento}, function() {
          console.log( "success" );
        })
          .done(function() {
            location.reload();
            console.log( "second success" );
          })
          .fail(function() {
            console.log( "error" );
          })
          .always(function() {
            console.log( "finished" );
        });
    });
    $(function() {
        $('#tree1').tree({
            dataUrl:  function(node) {
                var data = {};
                if(node){
                    console.log(node);
                }
                return {
                   url: '/encuentros/',
                   data: data,
                };
           },
            dataFilter: function(data) {
                var nodos = [];
                $(data).each(function (index, nodo) {
                    nodo['label'] = nodo['nombre'];
                    //nodo['load_on_demand'] = true;
                    nodos.push(nodo);
                });
                return nodos;
            },
            selectable: false,
            closedIcon: '+',
            openedIcon: '-',
            onCreateLi: function (node, $li) {
                //console.log($li);
                var boton_gestion = $("<a>",
                    {text:"Gestionar",
                    class:"btn btn-default btn-md",
                    href:"/programa_academico/" + node.id + "/"
                });
                var boton_modificacion = $("<a>",
                    {text:"Modificar",
                    class:"btn btn-default btn-md",
                    href:"/modificacion_evento/" + node.id + "/"
                });
                $li.append(boton_gestion);
                $li.append(boton_modificacion);
                $li.addClass("list-group-item");
            }
        });
    });
</script>
{% endblock %}