{% extends "base_menu.html" %}
{% load static from staticfiles %}
{% block header %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/mbraak-jqTree-ce47a98/tree.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select-1.10.0/js/bootstrap-select.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/bootstrap-select-1.10.0/css/bootstrap-select.min.css' %}">
<link href="{% static 'js/mbraak-jqTree-ce47a98/jqtree.css' %}" rel='stylesheet' />
{% endblock header %}

{% block content %}
{{ block.super }}
<!-- Justified tabs -->
<ul class="nav nav-tabs nav-justified">
    <li {% if '/programa_academico/' in request.path %}class = "active" {% endif %}><a href="/programa_academico/{{encuentro_id}}">Programa Académico</a></li>
    <li {% if '/gestion_encuentro/' in request.path %}class = "active" {% endif %}><a href="/gestion_encuentro/{{encuentro_id}}">Logística</a></li>
</ul>
{% endblock content %}
