{% extends "programaAcademico/base.html" %}
{% load static from staticfiles %}
{% block header %}
{{ block.super }}
<script src="{% static 'js/fullcalendar-2.6.0/lib/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<link href="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel='stylesheet' />
 <style type="text/css">
    #tree1 li{
      background-color: rgba(0,0,0,0.01);
    }
 </style>
{% endblock header %}

{% block breadcrums %}
  <li><a href="/inicio">Encuentros</a></li>
  <li class="active"><a href="./">Programa académico</a></li>
  <li></li>
{% endblock breadcrums %}

{% block content %}
{{ block.super }}
{% include "programaAcademico/actividades_modals.html" %}
{% include "actividades/modals/encuentro.html" %}
{% include "actividades/modals/panel.html" %}
{% include "actividades/modals/seminario.html" %}
{% include "actividades/modals/foro.html" %}
<!-- Modal -->
<!-- Termina Modal -->
<div id="tree1"></div>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
<script type="text/javascript">
$(function() {
    $('#tree1').tree({
        autoOpen: true,
        dataUrl:  function(node) {
            var data = {};
            var url = '';
            if(node){
                var tipo = node.tipo;
                var id = node.id;
                url = '/hijos/'+tipo+"/"+id+"/";
            }else{
              url = '/encuentros/'+{{encuentro_id}}+'/';
            }
            return {url: url, data: data};
       },
        dataFilter: function(data) {
            if (data['nombre']) {
              var nodo = data;
              nodo['label'] = nodo['nombre'] + " ";
              nodo['load_on_demand'] = true;
              return [nodo];
            }
            var nodos = [];
            $(data).each(function (index, obj) {
              var nombre_categoria = Object.keys(obj)[0];
              var nodo_categoria = {
                label: _.capitalize(nombre_categoria),
                children: []};
              $(obj[nombre_categoria]).each(function(index, nodo){
                //console.log('nodo', nodo);
                nodo['label'] = nodo['nombre'] + " ";
                nodo['load_on_demand'] = true;
                nodo_categoria['children'].push(nodo);
                //console.log('nodo', nodo);
              });
              //console.log(nodo_categoria['children'])
              nodos.push(nodo_categoria);
            });
            return nodos;
        },
        selectable: false,
        //closedIcon: '+',
        //openedIcon: '-',
        //autoOpen: true,
        onCreateLi: function (node, $li) {
            //console.log($li);
            var excepciones = ['panel'];
            if (node.tipo) {
              /*Botón para agregar más actividades*/
              if (excepciones.indexOf(node.tipo) < 0) {
                var drop_agregar = $.parseHTML(
                  '<div class="dropdown">' +
                    '<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">' +
                      'Agregar' +
                      '<span class="caret"></span>' +
                    '</button>' +
                    '<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>'+
                  '</div>'
                  );
                var drop_menu = $(drop_agregar).find(".dropdown-menu");
                switch(node.tipo) {
                  case "encuentro":
                    var li = $.parseHTML(
                      '<li><a href="#" data-toggle="modal" data-target="#foro_modal" data-operacion="creacion" >Foro</a></li>');
                    $(li).find("a").attr("data-id-actividad", node.id),
                    $(li).find("a").attr("data-tipo-padre", node.tipo),
                    $(drop_menu).append(li);
                    break;
                  case "foro":
                    var li = $.parseHTML(
                      '<li><a href="#" data-toggle="modal" data-target="#seminario_modal" data-operacion="creacion" >Seminario</a></li>');
                    $(li).find("a").attr("data-id-actividad", node.id),
                    $(li).find("a").attr("data-tipo-padre", node.tipo),
                    $(drop_menu).append(li);
                    break;
                  case "seminario":
                    var li = $.parseHTML(
                      '<li><a href="#" data-toggle="modal" data-target="#panel_modal" data-operacion="creacion" >Panel</a></li>');
                    $(li).find("a").attr("data-id-actividad", node.id),
                    $(li).find("a").attr("data-tipo-padre", node.tipo),
                    $(drop_menu).append(li);
                    break;
                }
                if ($.inArray(node.tipo, ["encuentro", "foro", "seminario"]) > -1) {
                  $($li.children()[0]).append(drop_agregar);
                }
              };
              /*Botón para editar las actividades*/
              var boton_editar = $("<a>",
                {text:"Editar",
                class:"btn btn-default btn-sm btn-editar",
                href: "#"
              });
              $(boton_editar).attr("data-toggle", "modal")
              $(boton_editar).attr("data-target", "#" + node.tipo + "_modal")
              $(boton_editar).attr("data-operacion", "edicion")
              $(boton_editar).attr("data-id-actividad", node.id);
              $($li.children()[0]).append(boton_editar);

              var boton_eliminar = $("<a>",
                {text:"Eliminar",
                class:"btn btn-danger btn-sm",
                href:"#"
              });
              $($li.children()[0]).append(boton_eliminar);
              $li.addClass("list-group-item");
            };
        }
    });
  $("#tree1").on('click', ".btn-agregar",function(event){
    var $arbol = $('#tree1');
    var tipo = $(this).data("padre-tipo");
    console.log(tipo);
    //Obtenemos el tipo de objeto asociado al botón
    switch(tipo){
      case 'encuentro':
        $('#modalForo').modal('show');
        break;
      case 'foro':
        $('#modalSeminario').modal('show');
        break;
      case 'seminario':
        $('#modalPanel').modal('show');
        break;

    }
    //Mostramos algún modal asociado a algún hijo del tipo
  });
});
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Agrega una actividad a ' + recipient)
  modal.find('.modal-body input').val(recipient)
  var boton_crear = $(modal.find('#btn-crear-actividad'));
  boton_crear.data("padre-id", button.data('padre-id'));
  boton_crear.data("padre-tipo", button.data('padre-tipo'));
});

$('#btn-crear-actividad').on('click', function (evento) {
  var url = '/'
  switch($('#select-crear-actividad').val()) {
    case 'encuentro':
      url += 'encuentros'; break;
    case 'foro':
      url += 'foros'; break;
    case 'panel':
      url += 'paneles'; break;
    case 'seminario':
      url += 'seminarios'; break;
    default:
        return;
  }
  url += '/';
  var boton = $('#btn-crear-actividad');
  $.post(url,{
    padre_id: boton.data('padre-id'),
    padre_tipo: boton.data('padre-tipo'),
    nombre: $('#txt-crear-actividad').val(),
  })
  .done(function () {
    $("#tree1").tree('reload');
  });
  $('.modal').modal('hide');
});
</script>
{% endblock content %}
