{% extends "programaAcademico/base.html" %}

{% block header%}

    <style type="text/css">
        .jstree-children {
            padding: 0;
            margin: 0;
            border: 0;
        }
        .jstree-node:nth-child(odd) {background: rgba(0,0,0,.4);}
        .jstree-node:nth-child(even) {background: rgba(0,0,0,.5);}
        .jstree-node {
            color: white;
            padding: 25px;
            width: auto;
            height: auto;
            font-size: 18pt;
            padding-right: 0;
            padding-left: 0;
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creación de Evento</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nombre del Evento</label>
            <input id="nombre_evento_input" type="text" class="form-control" id="recipient-name" placeholder="Encuentro ...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="crea_evento_btn" type="button" class="btn btn-primary" disabled="disabled">Crear Evento</button>
      </div>
    </div>
  </div>
</div>
<!-- Termina Modal -->
<div id="jstree_demo_div"></div>
{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('#nombre_evento_input').on('input propertychange paste', function () {
        var nombre_evento = $.trim($(this).val());
        if(nombre_evento === ""){
            $('#crea_evento_btn').attr("disabled", "disabled");
        }else {
            $('#crea_evento_btn').removeAttr("disabled");
        };
    });
    $('#crea_evento_btn').on('click', function () {
        //$(this).button('complete') // button text will be "finished!"
        var nombre_evento = $.trim($("#nombre_evento_input").val());
        console.log(typeof nombre_evento, nombre_evento);
        if(nombre_evento === ""){
            return;
        }
        $.post( "/crear_evento/", {nombre:nombre_evento}, function() {
          console.log( "success" );
        })
          .done(function() {
            location.reload();
            console.log( "second success" );
          })
          .fail(function() {
            console.log( "error" );
          })
          .always(function() {
            console.log( "finished" );
        });
    });
    function obtener_hijos(obj, cb) {
        console.log(obj, cb);
        var data = {};
        if (obj.id !== "#") {
            var pos = obj.id.lastIndexOf('.');
            data["pk"] = obj.id.substr(pos + 1);
            data["model"] = obj.id.substr(0, pos);
            console.log(data["pk"], data["model"]);
        };
        $.get( "/obtener_hijos/", data, function( data ) {
            console.log( "Load was performed." );
            var nodos = [];
            $(data).each(function(index, element) {
                var nodo = {
                    id:element["model"]+"."+element["pk"],
                    text:element["fields"]["nombre"],
                    children:true,
                    title:"holas",
                    element:element}
                nodos.push(nodo);
            });
            console.log( data );
            cb.call(this, nodos);
        });
    }
    function agrega_botones_nodo(arbol, id_nodo) {
        if(id_nodo.indexOf("evento.") > -1){
            var split = id_nodo.split(".");
            var evento_id = split[split.length - 1];
            var li = arbol.get_node(id_nodo, true);
            var boton_gestion = $("<a>",
                {class:"btn btn-default btn-lg",
                href:"/gestion_evento/" + evento_id + "/"
            })
            var boton_modificacion = $("<a>",
                {class:"btn btn-default btn-lg",
                href:"/modificacion_evento/" + evento_id + "/"
            })
            $(boton_gestion).text("Gestionar");
            $(boton_modificacion).text("Modificar");
            $(li).append($("<br>"));
            $(li).append(boton_gestion);
            $(li).append(boton_modificacion);
        };
    }
    function agrega_botones_nodos(arbol, ids_nodos) {
        $(ids_nodos).each(function (index, nodo) {
            agrega_botones_nodo(arbol, nodo);
        });
    }
    $('#jstree_demo_div')
    //escucha eventos
    .on('redraw.jstree', function (event, data) {
        var nodes = data.nodes;
        var arbol = $('#jstree_demo_div').jstree(true);
        agrega_botones_nodos(arbol, nodes);
        //console.log("@@@@@@@@@@@@@@@@@@@", nodes);
    })
    //Crea la instancia
    .jstree({
        'core' : {
            'data' : obtener_hijos
    }});
    /*$("#jstree_demo_div").jstree({
        'core' : {
          'data' : {
            'url' : function (node) {
              return node.id === '#' ?
                '/obtener_hijos/' :
                '/obtener_hijos/';
            },
            'data' : function (node) {
                console.log(node);
                //return { "id" : "ajson1", "parent" : "#", "text" : "Simple root node" };
              //return { 'id' : node.id };
            }
          }
        }
    });*/
</script>
{% endblock %}