{% extends "programaAcademico/base.html" %}
{% load static from staticfiles %}

{% block header%}
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Creación de Evento</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nombre del Evento</label>
            <input id="nombre_evento_input" type="text" class="form-control" id="recipient-name" placeholder="Encuentro ...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="crea_evento_btn" type="button" class="btn btn-primary" disabled="disabled">Crear Evento</button>
      </div>
    </div>
  </div>
</div>
<!-- Termina Modal -->
<div id="tree1"></div>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
<script type="text/javascript">
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
<script type="text/javascript">
$(function() {
    $('#tree1').tree({
        dataUrl:  function(node) {
            var data = {};
            var url = '';
            if(node){
                var tipo = node.tipo;
                var id = node.id;
                url = '/hijos/'+tipo+"/"+id+"/";
                console.log("pidiendo", node);
            }else{
              url = '/encuentros/'+{{evento_id}}+'/';
            }
            return {url: url, data: data};
       },
        dataFilter: function(data) {
            console.log(data);
            if (data['nombre']) {
              var nodo = data;
              nodo['label'] = nodo['nombre'];
              nodo['load_on_demand'] = true;
              return [nodo];
            }
            var nodos = [];
            $(data).each(function (index, obj) {
              var nodo_categoria = {label:Object.keys(obj)[0], children: []};
              $(obj[nodo_categoria['label']]).each(function(index, nodo){
                //console.log('nodo', nodo);
                nodo['label'] = nodo['nombre'];
                nodo['load_on_demand'] = true;
                nodo_categoria['children'].push(nodo);
                //console.log('nodo', nodo);
              });
              //console.log(nodo_categoria['children'])
              nodos.push(nodo_categoria);
            });
            return nodos;
        },
        selectable: false,
        closedIcon: '+',
        openedIcon: '-',
        onCreateLi: function (node, $li) {
            //console.log($li);
            if (node.tipo) {
              var boton_agregar = $("<a>",
                {text:"+",
                class:"btn btn-default btn-md",
                href:"#" + node.id + "/"
              });
              $($li.children()[0]).append(boton_agregar);
              $li.addClass("list-group-item");
            }
        }
    });
});
</script
{% endblock %}
