{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ring.css' %}">
<!-- Edición Persona Modal -->
<style type="text/css">
  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }
  .label_obligatorio {
    font-size: 10pt;
    float: left;
  }
  .label_obligatorio:before {
    content:"*";
    color:red;
  }
  .modal-info {
    display: none;
    text-align: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.9);
    font-size: 15pt;
  }
  .modal-info > div{
    margin-top: 50px;
  }
  .modal-status-img{
    width: 200px;
  }
</style>
<div class="modal fade" id="persona_modal" tabindex="-1" role="dialog" aria-labelledby="persona_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-info">
        <div class="modal-info-cargando">
          <div class="uil-ring-css modal-status-img" style="margin: 0 auto"><div></div></div>
          <p>Cargando</p>
        </div>
        <div class="modal-info-exito">
          <img class="modal-status-img" src="{% static 'img/mark.svg' %}">
          <p>La operación se ha realizado con éxito</p>
        </div>
        <div class="modal-info-error">
          <img class="modal-status-img" src="{% static 'img/error.svg' %}">
          <p>¡Hubo un problema al intentar realizar la acción! Recargue la página y vuelva a intentarlo</p>
          <button class="btn btn-default" data-dismiss="modal">Regresar</button>
        </div>
      </div>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="persona_modal_label">Persona</h4>
      </div>
      <div class="modal-body">
        <div class="modal-cargando-div">
          <div class='uil-ring-css' style="margin: 0 auto"><div></div></div>
        </div>
        <form>
          <div class="row">
            <div class='col-md-6'>
              <div class="form-group required">
                <label for="persona_modal_correo" class="control-label">Correo electrónico</label>
                <input id="persona_modal_correo" type="text" class="form-control" placeholder="Correo" required="required">
              </div>
            </div>
            <div class='col-md-6'>
              <div class="form-group">
                <label for="persona_modal_correo_secundario" class="control-label">Correo electrónico alternativo</label>
                <input id="persona_modal_correo_secundario" type="text" class="form-control" placeholder="Correo alternativo">
              </div>
            </div>
          </div>
          <div class="form-group required">
            <label for="persona_modal_nombres" class="control-label">Nombre(s)</label>
            <select id="persona_modal_nombres" class="form-control" placeholder="Nombre">
            </select>
          </div>
          <div class="row">
            <div class='col-md-6'>
              <div class="form-group required">
                <label for="persona_modal_apellido_paterno" class="control-label">Apellido paterno</label>
                <input id="persona_modal_apellido_paterno" type="text" class="form-control" placeholder="Apellido paterno" required="required">
              </div>
            </div>
            <div class='col-md-6'>
              <div class="form-group">
                <label for="persona_modal_apellido_materno" class="control-label">Apellido materno</label>
                <input id="persona_modal_apellido_materno" type="text" class="form-control" placeholder="Apellido materno" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class='col-md-6'>
              <div class="form-group">
                <label for="persona_modal_pais" class="control-label">País</label>
                <select id="persona_modal_pais" class="form-control" placeholder="Elige un país">
                  {% include "usuarios/modals/pais.html" %}
                </select>
              </div>
            </div>
            <div class='col-md-6'>
            </div>
          </div>
          <div class="row">
            <div class='col-md-6'>
              <div class="form-group">
                <label for="" class="control-label">Institución</label>
                <select id="" class="form-control"></select>
              </div>
            </div>
            <div class='col-md-6'>
              <div class="form-group">
                <label for="" class="control-label">Cargo</label>
                <select id="" class="form-control"></select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span class="label_obligatorio">Campos obligatorios</span>
        <button id="persona_modal_submit" type="button" class="btn btn-primary" ></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function(){

var sedes_selectize = null;
var personas_selectize = null;
var llenando_persona = false;

// Limpia el modal del encuentro
function reset_modal(){
  var $modal = $("#persona_modal");
  var $modal_body = $modal.find(".modal-body");
  $('#persona_modal_apellidos').val("");
  $('#persona_modal_correo').val("");
  $('#persona_modal_correo_secundario').val("");
  $('#persona_modal_pais').val("");
  //Oculta el estatus del modal
  $modal.find(".modal-info").css('display', 'none');
  if (personas_selectize === null) {
    var $selector = $modal.find('#persona_modal_nombres').selectize({
      openOnFocus: false,
      create: true,
    });
    personas_selectize = $selector[0].selectize;
    personas_selectize.on('item_add', function (val){
      var promesa = $.get('/personas/'+ val +'/');
      promesa.done(function(data){
        console.log(data);
        var $modal = $("#persona_modal");
        $('#persona_modal_apellidos').val(data.apellidos);
        $('#persona_modal_correo').val(data.correo);
        $('#persona_modal_correo_secundario').val(data.correo_secundario);
        $('#persona_modal_pais').val(data.pais);
        var $boton_submit = $modal.find('#persona_modal_submit');
        $modal.find('.modal-title').text('Editar una Persona');
        $boton_submit.text('Guardar cambios');
        var $boton_submit = $modal.find('#persona_modal_submit');
        $boton_submit.data('operacion', 'edicion');
        $boton_submit.data('id-actividad', data.id);
      })
    });
    personas_selectize.on('option_add', function (val){
      if (!llenando_persona) {
        var $boton_submit = $modal.find('#persona_modal_submit');
        $modal.find('.modal-title').text('Registrar una Persona');
        $boton_submit.text('Registrar Persona');
      }
    });
  }
  personas_selectize.clearOptions();
  // Se oculta el form
  //$modal_body.find("form").hide();
  // Se desbloqué el botón submit
  var $boton_submit = $modal.find('#persona_modal_submit');
  $boton_submit.attr('disabled', 'disabled');
  // Se muestra la imágen de carga
  //$modal_body.find(".modal-cargando-div").show();
};

function rellena_personas(selectize, personas, id_seleccionados) {
  llenando_persona = true;
  id_seleccionados = typeof id_seleccionados !== 'undefined' ? id_seleccionados : [];
  $(personas).each(function (idx, responsable) {
    var selected = false;
    $(id_seleccionados).each(function (i, resp_id) {
      if (responsable.id == resp_id) {
        selected = true;
      }
    })
    selectize.addOption({
      text: responsable.nombres,
      value: responsable.id,
      selected: selected,
    });
    if (selected) {
      selectize.setValue(selectize.getValue().concat([responsable.id]), true)
    }
  });
  llenando_persona = false;
}
$('#persona_modal').on('hide.bs.modal', function (event) {
  if ($('#persona_modal').data('modal-anterior')) {
    var anterior_id = "#" + $('#persona_modal').data('modal-anterior');
    $(anterior_id).modal('show');
  }
});
// Se ejecuta cuando se muestra el modal
$('#persona_modal').on('show.bs.modal', function (event) {
  reset_modal();
  var $button = $(event.relatedTarget) // Botón que mostró el  modal
  var operacion = $button.data('operacion');
  var id = $button.data('id-actividad');
  var $modal = $(this);
  var $form = $modal.find(".modal-content form");
  // Se obtiene la lista de los posibles responsables que están registrados
  var prom_resp = $.get('/responsables/');
  var prom_pers = $.get('/personas/');
  prom_pers.done(function(personas) {
    // Se el selector con los responsables
    rellena_personas(personas_selectize, personas);
    personas_selectize.refreshOptions(false);
    // Se muestra una animación de carga en lo que se cargan los responsables
    $('#persona_modal').find(".modal-cargando-div").fadeOut(800, function () {
      $form.fadeIn(400);
    });
  });
  return;
  //Se buscan los elementos a modificar
  var $boton_submit = $modal.find('#persona_modal_submit');
  var $selector = $modal.find('#persona_modal_responsables');
  // Se le asignan datos al botón submit para cuando se realice la creación
  // o edicion del encuentro
  $boton_submit.data('operacion', operacion);
  $boton_submit.data('id-actividad', id);
  // Se checa la operación que se va a querer realizar para preparar
  // al modal con las etiquetas e información correspondiente
  switch (operacion) {
    case 'creacion':
      // Se ejecuta cuando se obtiene la lista de responsables
      prom_resp.done(function(responsables) {
        // Se el selector con los responsables
        rellena_personas(resp_selectize, responsables);
        resp_selectize.refreshOptions(false);
        // Se muestra una animación de carga en lo que se cargan los responsables
        $('#persona_modal').find(".modal-cargando-div").fadeOut(800, function () {
          $form.fadeIn(400);
        });
      });
      // Se modifica el título del modal
      $modal.find('.modal-title').text('Registrar una Persona');
      // Se modifica el texto del botón submit
      $boton_submit.text('Registrar Persona');
      break;
    case 'edicion':
      // Se modifica el título del modal
      $modal.find('.modal-title').text('Modificar Persona');
      // Se modifica el texto del botón submit
      $boton_submit.text('Guardar modificaciones');
      // Se pide la información del encuentro a modificar
      var prom_enc = $.get('/encuentros/'+ id +'/');
      // Se ejecuta cuando se termina de pedir la lista de responsables
      // y la información del encuentro
      $.when(prom_enc, prom_resp).done(function(res_enc, res_resp) {
        // res___ =  [ data, statusText, jqXHR ]
        var encuentro = res_enc[0];
        var responsables = res_resp[0];
        $(encuentro.sedes).each(function (idx, nombre_sede) {
          sedes_selectize.addOption({
            text: _.capitalize(nombre_sede),
            value: nombre_sede,
            selected: true,
          })
        });
        sedes_selectize.setValue(encuentro.sedes, false);
        sedes_selectize.refreshOptions();
        // Rellena el campo del nombre del encuentro
        $modal.find('#persona_modal_nombre').val(encuentro.nombre);
        // Rellena el campo del país del encuentro
        $modal.find('#persona_modal_pais').val(encuentro.pais);
        // Rellena el campo de la ciudad del encuentro
        $modal.find('#persona_modal_ciudad').val(encuentro.ciudad);
        // Llena la lista de responsables marcando los que son
        // responsables del encuentro
        rellena_personas(resp_selectize, responsables, encuentro.responsables);
        // Se muestra una animación de carga en lo que se carga el encuentro
        $('#persona_modal').find(".modal-cargando-div").fadeOut(800, function () {
          $form.fadeIn(400);
        });
        // Se obtienen las fechas del encuentro, si es que las tiene
        var fecha_fin = moment(encuentro.fecha_fin);
        var fecha_inicio = moment(encuentro.fecha_inicio);
        var cal_inicio = $modal.find('#persona_modal_fecha_inicio').closest(".date");
        var cal_fin = $modal.find('#persona_modal_fecha_fin').closest(".date");
        var fecha_inicio = moment(fecha_inicio);
        // Si la fecha de inicio es válida se llena el campo correspondiente
        if (fecha_inicio.isValid()) {
          cal_inicio.data("DateTimePicker").date(fecha_inicio);
        }
        // Si la fecha de fin es válida se llena el campo correspondiente
        var fecha_fin = moment(fecha_fin);
        if (fecha_fin.isValid()) {
          cal_fin.data("DateTimePicker").date(fecha_fin);
        }
      });
      break;
    default: //Evita que se abra el modal
      return event.preventDefault();
  }
});

function verifica_inputs() {
  $modal = $("#persona_modal");
  $modal_body = $modal.find(".modal-body");
  $boton_submit = $modal.find("#persona_modal_submit");
  var son_validos = true;
  // Verifica nombre del encuentro
  if ($("#persona_modal_nombres").val().trim() === "") { son_validos = false;}
  // Verifica nombre del encuentro
  if ($("#persona_modal_apellidos").val().trim() === "") { son_validos = false;}
  // Verifica nombre del encuentro
  if ($("#persona_modal_correo").val().trim() === "") { son_validos = false;}
  // Bloquea el botón submit si faltan datos
  if (son_validos) {
    $boton_submit.removeAttr('disabled', 'disabled');
  }else {
    $boton_submit.attr('disabled', 'disabled');
  }
};

$('#persona_modal_nombres').on('input', function (event) {
  verifica_inputs();
});
$('#persona_modal_apellidos').on('input', function (event) {
  verifica_inputs();
});
$('#persona_modal_correo').on('input', function (event) {
  verifica_inputs();
});

$('#persona_modal_submit').on('click', function (event) {
  var $modal = $("#persona_modal");
  $modal.find(".modal-info>div").hide();
  $modal.find(".modal-info").css('display', 'block');
  $modal.find(".modal-info .modal-info-cargando").show();
  // Boton submit que contiene información para crear/editar el encuentro
  var $boton_submit = $(this);
  // Se bloquea el botón en lo que se procesa la creación/edición
  $boton_submit.attr('disabled', 'disabled');
  // Datos a ser enviados al servidor
  var data = {
    'nombres': personas_selectize.getOption(personas_selectize.getValue()).context.innerText,
    'apellidos': $('#persona_modal_apellidos').val().trim(),
    'correo': $('#persona_modal_correo').val().trim(),
    'pais': $('#persona_modal_pais').val(),
  };
  var operacion = $boton_submit.data('operacion');
  switch (operacion) {
    case 'creacion':
      var promesa = $.ajax({
        url: '/encuentros/',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
      });
      promesa
      .fail(function(data) {
        // Se crea un mensaje para avisar que hubo un problema en la creación
        var $modal = $("#persona_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-error").show();
      })
      .done(function(data){
        // Se lanza un evento indicando que se creó un actividad con éxito
        $(document).trigger( "actividadCreada", data);
        // Se crea un mensaje para avisar que se creó el encuentro
        var $modal = $("#persona_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-exito").show();
        setTimeout(function(){$("#persona_modal").modal('hide')}, 3000);
      })
      .always(function(data) {
        console.log(data);
      });
      break;
    case 'edicion':
      // Se obtiene el id del encuentro a mofificar
      var id = $boton_submit.data('id-actividad');
      var promesa = $.ajax({
        url: '/personas/' + id + '/',
        type: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(data),
      });
      promesa
      .fail(function(data) {
        // Se crea un mensaje para avisar que hubo un problema en la edición
        var $modal = $("#persona_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-error").show();
        console.log(data);
      })
      .done(function(data){
        // Se lanza un evento indicando que se editó un actividad con éxito
        $(document).trigger( "actividadModificada", data);
        var $modal = $("#persona_modal");
        $modal.find(".modal-info>div").hide();
        $modal.find(".modal-info").css('display', 'block');
        $modal.find(".modal-info .modal-info-exito").show();
        setTimeout(function(){$("#persona_modal").modal('hide')}, 3000);
      })
      .always(function(data) {
        console.log(data);
      });
      break;
    default:
      return;
  }
});

// Se buscan los selectores de fechas en el DOM del modal
var cal_inicio = $('#persona_modal_fecha_inicio').closest(".date");
var cal_fin = $('#persona_modal_fecha_fin').closest(".date");
// Inicializa el calendario de la fecha de inicio
$(cal_inicio).datetimepicker({
  format: 'DD/MM/YYYY',
  locale: 'es',
});
// Inicializa el calendario de la fecha de fin
$(cal_fin).datetimepicker({
  format: 'DD/MM/YYYY',
  locale: 'es',
  useCurrent: false, //Important! See issue #1075
});
$(cal_inicio).on("dp.change", function (e) {
  // Se asegura que la fecha de inicio no se mayor a la fecha de fin
  $(cal_fin).data("DateTimePicker").minDate(e.date);
  // Verifica si los input son válidos para el encuentro
  verifica_inputs();
});
$(cal_fin).on("dp.change", function (e) {
  // Se asegura que la fecha de fin no se menor a la fecha de inicio
  $(cal_inicio).data("DateTimePicker").maxDate(e.date);
  // Verifica si los input son válidos para el encuentro
  verifica_inputs();
});
});
</script>