{% extends "sesion/base.html" %}
{% load static from staticfiles %}

{% block header%}
{{ block.super }}
    <style type="text/css">
body {
    background-color: white;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {
    padding-bottom: 10px;
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {
    background-color: transparent;
}

.panel-body {
    background-color: rgba(2555,255,255,.3);
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

</style>
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{{ block.super }}
<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

<div class="row">
  <div class="iconmelon">
    <img src="{% static 'img/logo-virtual-educa-institucional.png' %}">
  </div>
</div>

<div class="panel panel-default" >
  <div class="panel-heading">
    <div class="panel-title text-center">Escriba su correo para recuperar su cuenta</div>
  </div>
  <div class="panel-body">


<form name="form" id="form" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="form-group {% if form.email.errors %} has-error {% endif %}">
    <label for="id_email">Correo electrónico</label>
    <div id="email-group" class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      {{ form.email }}
    </div>
    {% if form.email.errors %}
        <span class="help-block">{{ form.email.errors }}</span>
        <p>Si tiene problemas para recordar su correo de <a href="">clic aquí</a>.</p>
    {% endif %}
  </div>
  <div class="col-sm-12 controls text-center">
    <button type="submit" href="#" class="btn btn-default">
        <!--<i class="glyphicon glyphicon-log-in"></i>-->
        Buscar
    </button>
    <a  href="/" class="btn btn-default">
        <!--<i class="glyphicon glyphicon-log-in"></i>-->
        Cancelar
    </a>
  </div>
</form>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("input").addClass("form-control");
    $("#email-group input").attr("placeholder", "Correo");
  });
</script>
{% endblock %}